# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class
*.pyc
# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Django / Flask stuff
*.log
local_settings.py
db.sqlite3
instance/
.webassets-cache

# ========================
# IDE / Editors
# ========================
# PyCharm
.idea/

# VSCode
.vscode/

# Others
*.swp
*.swo

# Default ignored files
/shelf/
/workspace.xml